# ./docker-compose.yml
version: "2"
services:
  app:
    image: node:11.8.0
    volumes:
      - ./:/src
    working_dir: /src
    ports:
      - "8000:8080"
    environment:
      - VIRTUAL_PORT=8080
      - VIRTUAL_HOST=sample.yuseiito.com
      - LETSENCRYPT_HOST=sample.yuseiito.com
      - LETSENCRYPT_EMAIL=yuseikun@outlook.jp
    restart: always
networks:
  default:
    external:
      name: nginx-proxy
