# ./docker-compose.yml
version: "3"
services:
  app:
    image: node:11.8.0
    ports:
      - 12345:3000
    expose:
      - 12345
    volumes:
      - ./:/src
    working_dir: /src
    environment:
      VIRTUAL_PORT: 12345
      VIRTUAL_HOST: sample.yuseiito.com
      LETSENCRYPT_HOST: sample.yuseiito.com
      LETSENCRYPT_EMAIL: yuseikun@outlook.jp
    restart: always
networks:
  default:
    external:
      name: nginx-proxy
